<div data-role="header">
  <h1><%= @team.name %></h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    <% @team.players.each do |player| %>
    <li>
      <h2 class="center"><%= link_to player.name, player %></h2>
      <h2 class="points center"><%= player.points %></h2>
    </li>
    <% end %>
  </ul>

  <%#= link_to 'Edit', edit_team_path(@team) %>
</div>
