div.profile .ui-grid-a .ui-block-a { width: 33%; margin-right: 20px;}
div.profile ui-grid-a .ui-block-b { width: 66%;}
div.profile h2 { margin-top: 3px; }
div.profile p:nth-of-type(1) { font-size: 15px; font-weight: bold; margin-top: -15px; text-indent: 7px;}
div.profile p:nth-of-type(2) { font-size: 14px; margin-top: -10px; text-indent: 7px;}
.center { margin: 0 auto; padding: 0; text-align: center;}

.ui-listview-filter { margin: 0px;}
<<<<<<< HEAD
div#teammates h2, div#leads h2 { margin: -2px 0 10px 0;}
div#teammates p, div#leads p { margin: 0px;}

input:nth-of-type(1) { margin: -10px 0 0 0; }
input { margin: 15px 0 0 0; }
textarea { margin: 15px 0 15px 0; }
=======
div#teammates h2 { margin: -2px 0 10px 0;}
div#teammates p { margin: 0px;}

#score_board {
width: 50%;
float: left;
text-align: center;}

#score_board li {
float: left;
list-style: none;
width: 50%;

}

#score_board p {
font-size:10px;
font-style: italic;
text-align: center;}

#clear {
clear: both;
}
>>>>>>> Chris' Commit's
