<!DOCTYPE html>
<html>
<head>
  <title>Hackathon</title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
  <%= javascript_include_tag :defaults %>
  <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
  <%= csrf_meta_tag %>

  <%= stylesheet_link_tag :all %>
</head>
<body>

<div data-role="page">
  <%= yield %>
</div>

</body>
</html>
